@model IEnumerable<IdentityRole> 
@{
    ViewData["Title"] = "Roles";
}

<div class="row">
    <div class="col-12">
        <a class="btn btn-dark" asp-action="CreateRole">Create</a>
    </div>
</div>

<table class="table">
    <thead class="thead-dark">
        <tr class="header">
            <th>@Html.DisplayNameFor(Model => Model.Id)</th>
            <th>@Html.DisplayNameFor(Model => Model.Name)</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var role in Model)
        {
            <tr>
                <td>@role.Id</td>
                <td>@role.Name</td>
                <td>
                    <a class="btn btn-success" asp-action="EditRole" asp-route-roleId="@role.Id">Edit</a>
                    <a class="btn btn-dark" asp-action="Details" asp-route-id="@role.Id">Details</a>
                    <a class="btn btn-danger" asp-action="Delete" asp-route-id="@role.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>